.mdc-top-app-bar {
    background: #425e50;
    box-shadow: 0px 0px 5px #454545;
    border-bottom: 5px solid #f15725;
    text-align: center;
}

.mdc-top-app-bar__section {
    a {
        text-decoration: none;
        color: white;
        font-weight: 300;
    }
    
    img {
        width: 150px;
        margin-top: -71px;
    }
}

.mdc-button--raised {
    background-color: #f15725;

}

.asideLeft {
    margin-top: 90px;
    display: block;
    width: 50%;
    height: 100%;
    padding-right: 15px;
    margin-right: 15px;
    float: left;
}
@media (max-width: 997px) {
    .asideLeft {
        width: 100%;
    }
}

.swiper { 
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 50%;
    height: 50%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
        display: block;
        width: 30%;
        height: 30%;
        object-fit: cover;
    }
}

.swiper-pagination {
    --swiper-theme-color: #f15725;
    background:#8aaa9b !important; 
}

.swiper-button-prev {
    --swiper-theme-color: #f15725;
}
.swiper-button-next {
    --swiper-theme-color: #f15725;
}

.sellProduct {
    margin-top: 90px;
    font-family: sansation;
    text-align: center;
    width: 48%;
    display: block;
    float: left;

    .price {
        margin-top: 1%;
        font-size: 30px;
        small {
            text-decoration: line-through;
            color: red;
        }   
    }
    
    p {
        margin-top: 15px;
    }

    .mdc-button--raised {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .my-card {
        width: 90%;
    }
}

@media (max-width: 997px) {
    .sellProduct {
        display: inline-block;
        width: 100%;
    }
}

.description { 
    display: inline-block;
    width: 100%;
    margin-left: 10px ;
    font-family: sansation;

    h3 {
        text-align: center;
    }

    p {
        text-align: justify;
        letter-spacing: 1.5px;
        margin-top: 10px;
        width: 97%;
    }

    ul {
        margin-top: 5px;
        margin-left: 6px;
        list-style-type: none;
    }

    .mdc-data-table {
        margin-top: 10px;
        width: 200px;

        .mdc-data-table__header-row  th {
            background-color: #5c7d6c;
            color: white;
            font-weight: 600;
        }

        .mdc-data-table__row  {
            background-color: #ffa081;
            text-align: center;
        }
    }
}

.QA {
    .titleQA {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        font-weight: 700;
        font-family: 'sansation';
        font-size: 40px;
    }

    .addQuestion {
        margin-bottom: 15px;

        h4 {
            margin-top: 30px;
            font-weight: 700;
            font-family: 'sansation';
            font-size: 20px;
        }

        .mdc-text-field--textarea {
            width: 100%;
        }

        .mdc-button--raised {
            margin-top: 10px;
            display: list-item;
        }
    }
}
